.card-container {
    width: 150px;
    height: 150px;
    margin: 0.3rem;
}

.card-container,
.card-container > div {
    border: 1px solid gray;
    border-radius: 0.5rem;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
}

.card-back {
    background-color: gray;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xxx-large;
}

@media (min-width: 768px) {
    .card-container {
        width: 250px;
        height: 250px;
    }
}
